/* el-message */
.el-message__content {
  font-size: 18px !important;
}

.el-message__icon {
  font-size: 18px !important;
}

.el-popup-parent--hidden {
  // background-color: red;
  width: 100% !important;
}
